body {
	display: flex;
	height: 100vh;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	background-color: #94d2bd;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.easter-animation {
	position: relative;
	cursor: pointer;
}

.egg {
	position: relative;
	width: 160px;
	height: 80px;
	background: linear-gradient(0deg, rgba(249, 65, 68, 1) 30%, rgba(87, 117, 144, 1) 30%, rgba(95, 127, 139, 1) 60%, rgba(144, 190, 109, 1) 60%, rgba(128, 168, 113, 1) 95%, rgba(249, 199, 79, 1) 95%);
	border-radius: 0% 100% 50% 50% / 0% 0% 100% 100%;
	top: 90px;
}

.egg-top {
	position: absolute;
	width: 160px;
	height: 120px;
	background: linear-gradient(180deg, rgba(249, 65, 68, 1) 40%, rgba(87, 117, 144, 1) 40%, rgba(95, 127, 139, 1) 70%, rgba(144, 190, 109, 1) 70%, rgba(128, 168, 113, 1) 95%, rgba(249, 199, 79, 1) 95%);
	border-radius: 50% 50% 70% 30% / 100% 100% 0% 0%;
	top: -48px;
	left: 0;
	transition: .2s;
}

.egg:before,
.egg:after,
.egg-top:before,
.shell:before {
	content: "";
	position: absolute;
	border-style: solid;
}

.egg:before {
	border-color: transparent transparent #f9c74f transparent;
	border-width: 0 20px 20px 0;
	top: -19px;
}

.egg:after {
	border-color: transparent transparent #f9c74f transparent;
	border-width: 0 0 20px 20px;
	top: -19px;
	left: 140px;
}

.egg-top:before {
	border-color: #f9c74f transparent transparent transparent;
	border-width: 20px 20px 0 20px;
	top: 120px;
}

.shell-top,
.shell-top:before,
.shell-top:after {
	position: absolute;
	border-style: solid;
	border-color: #f9c74f transparent transparent transparent;
	border-width: 20px 20px 0 20px;
}

.shell-top {
	left: 40px;
	top: 120px;
}

.shell-top:before,
.shell-top:after {
	content: "";
	top: -20px;
}

.shell-top:before {
	left: 20px;
}

.shell-top:after {
	left: 60px;
}

.shell {
	position: absolute;
	z-index: -1;
}

.shell:before {
	border-color: transparent transparent #f9c74f transparent;
	border-width: 0 20px 20px 20px;
	top: -19px;
	left: 20px;
	filter: drop-shadow(40px 0 #f9c74f) drop-shadow(40px 0 #f9c74f);
}

.shell:after {
	content: "";
	position: absolute;
	background-color: rgba(0, 0, 0, .1);
	width: 160px;
	height: 40px;
	border-radius: 50%;
	top: 50px;
	left: 0;
}

.egg-top:after {
	content: "";
	position: absolute;
	background-color: rgba(255, 255, 255, .2);
	width: 25px;
	height: 60px;
	border-radius: 50%;
	transform: rotate(-27deg);
	top: 20px;
	left: 105px;
}

.grass {
	position: absolute;
}

.grass:before {
	content: "";
	position: absolute;
	border-left: 8px solid #90be6d;
	border-top: 1px solid #90be6d;
	border-top-left-radius: 100%;
	width: 40px;
	height: 60px;
	top: 30px;
	left: 130px;
	filter: drop-shadow(20px -5px #90be6d) drop-shadow(-120px -5px #90be6d);
}

.grass:after {
	content: "";
	position: absolute;
	border-right: 6px solid #90be6d;
	border-top: 1px solid #90be6d;
	border-top-right-radius: 100%;
	width: 30px;
	height: 50px;
	top: 30px;
	left: 90px;
	filter: drop-shadow(20px -5px #90be6d) drop-shadow(-120px -5px #90be6d);
}

.daisy {
	position: absolute;
	border-right: 7px solid #90be6d;
	border-top: 2px solid #90be6d;
	border-top-right-radius: 100%;
	width: 40px;
	height: 110px;
	top: 50px;
	left: -15px;
}

.daisy:before,
.daisy:after {
	content: "";
	position: absolute;
	background-color: white;
	border-radius: 10px;
}

.daisy:before {
	width: 60px;
	height: 10px;
	top: -10px;
	left: -25px;
}

.daisy:after {
	height: 60px;
	width: 10px;
	top: -35px;
}

.flower,
.flower:before {
	position: absolute;
	background-color: white;
	border-radius: 10px;
}

.flower {
	width: 60px;
	height: 10px;
	left: -25px;
	top: -10px;
	transform: rotate(45deg);
	z-index: 2;
}

.flower:before {
	content: "";
	width: 60px;
	height: 10px;
	left: 0;
	transform: rotate(90deg);
}

.flower:after {
	position: absolute;
	content: "";
	border-radius: 50%;
	background-color: #f9c74f;
	width: 10px;
	height: 10px;
	top: 0;
	left: 25px;
}

.back-flower {
	position: absolute;
	transform: scaleX(-1) scale(.7);
	top: 50px;
	left: 160px;
}

.easter-animation.step-one .egg-top {
	transform: translateY(-20px);
}

.easter-animation.step-two .egg-top {
	transform: translateY(-45px);
}

.easter-animation.step-three .egg-top {
	transform: translateY(-65px);
}

.easter-animation.step-four {
	.egg-top {
		transform: translateY(-90px);
	}

	.money {
		visibility: visible;
	}

}

.easter-animation.step-five {
	.egg-top {
		transform: translateY(-1000px);
	}

	.money {
		visibility: visible;
	}
}

.money {
	position: absolute;
	top: -30px;
	left: 15px;
	width: 130px;
	text-align: center;
	visibility: hidden;
}

.chick {
	position: absolute;
	background-color: #e9d8a6;
	border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
	width: 130px;
	height: 150px;
	left: 15px;
	top: -10px;
	z-index: -3;
}

.chick:before {
	content: "";
	position: absolute;
	background-color: #333;
	width: 7px;
	height: 10px;
	border-radius: 50%;
	top: 50px;
	left: 50px;
	box-shadow: 25px 0 #333;
	transform-origin: 50%;
	animation: blink 2s infinite;
}

@keyframes blink {

	0%,
	100% {
		transform: scale(1, .05);
	}

	5%,
	95% {
		transform: scale(1, 1);
	}
}

.beak {
	position: absolute;
	border-color: transparent transparent #ee9b00 transparent;
	border-width: 0 25px 30px 25px;
	border-style: solid;
	left: 40px;
	top: 50px;
}

.beak:before {
	content: "";
	position: absolute;
	border-color: #d48a00 transparent transparent transparent;
	border-width: 20px 20px 0 20px;
	border-style: solid;
	top: 29px;
	left: -19px;
}

.open-button {
	position: absolute;
	top: 190px;
	width: 100%;
	text-align: center;
	color: white;
	font-family: Brush Script MT;
	font-size: 20px;
	border: 2px solid yellow;
	background-color: rgba(255, 255, 255, 0.30);
	border-radius: 16px;
	background-color: transparent;
	;

	&.hidden {
		display: none;
	}
}

.pyro {
	z-index: 500;
}

.pyro>.before,
.pyro>.after {
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c;
	-moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
	-webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
	-o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
	-ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
	animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro>.after {
	-moz-animation-delay: 1.25s, 1.25s, 1.25s;
	-webkit-animation-delay: 1.25s, 1.25s, 1.25s;
	-o-animation-delay: 1.25s, 1.25s, 1.25s;
	-ms-animation-delay: 1.25s, 1.25s, 1.25s;
	animation-delay: 1.25s, 1.25s, 1.25s;
	-moz-animation-duration: 1.25s, 1.25s, 6.25s;
	-webkit-animation-duration: 1.25s, 1.25s, 6.25s;
	-o-animation-duration: 1.25s, 1.25s, 6.25s;
	-ms-animation-duration: 1.25s, 1.25s, 6.25s;
	animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
	from {
		box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
	}
}

@-moz-keyframes bang {
	from {
		box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
	}
}

@-o-keyframes bang {
	from {
		box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
	}
}

@-ms-keyframes bang {
	from {
		box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
	}
}

@keyframes bang {
	from {
		box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
	}
}

@-webkit-keyframes gravity {
	to {
		transform: translateY(200px);
		-moz-transform: translateY(200px);
		-webkit-transform: translateY(200px);
		-o-transform: translateY(200px);
		-ms-transform: translateY(200px);
		opacity: 0;
	}
}

@-moz-keyframes gravity {
	to {
		transform: translateY(200px);
		-moz-transform: translateY(200px);
		-webkit-transform: translateY(200px);
		-o-transform: translateY(200px);
		-ms-transform: translateY(200px);
		opacity: 0;
	}
}

@-o-keyframes gravity {
	to {
		transform: translateY(200px);
		-moz-transform: translateY(200px);
		-webkit-transform: translateY(200px);
		-o-transform: translateY(200px);
		-ms-transform: translateY(200px);
		opacity: 0;
	}
}

@-ms-keyframes gravity {
	to {
		transform: translateY(200px);
		-moz-transform: translateY(200px);
		-webkit-transform: translateY(200px);
		-o-transform: translateY(200px);
		-ms-transform: translateY(200px);
		opacity: 0;
	}
}

@keyframes gravity {
	to {
		transform: translateY(200px);
		-moz-transform: translateY(200px);
		-webkit-transform: translateY(200px);
		-o-transform: translateY(200px);
		-ms-transform: translateY(200px);
		opacity: 0;
	}
}

@-webkit-keyframes position {

	0%,
	19.9% {
		margin-top: 10%;
		margin-left: 40%;
	}

	20%,
	39.9% {
		margin-top: 40%;
		margin-left: 30%;
	}

	40%,
	59.9% {
		margin-top: 20%;
		margin-left: 70%;
	}

	60%,
	79.9% {
		margin-top: 30%;
		margin-left: 20%;
	}

	80%,
	99.9% {
		margin-top: 30%;
		margin-left: 80%;
	}
}

@-moz-keyframes position {

	0%,
	19.9% {
		margin-top: 10%;
		margin-left: 40%;
	}

	20%,
	39.9% {
		margin-top: 40%;
		margin-left: 30%;
	}

	40%,
	59.9% {
		margin-top: 20%;
		margin-left: 70%;
	}

	60%,
	79.9% {
		margin-top: 30%;
		margin-left: 20%;
	}

	80%,
	99.9% {
		margin-top: 30%;
		margin-left: 80%;
	}
}

@-o-keyframes position {

	0%,
	19.9% {
		margin-top: 10%;
		margin-left: 40%;
	}

	20%,
	39.9% {
		margin-top: 40%;
		margin-left: 30%;
	}

	40%,
	59.9% {
		margin-top: 20%;
		margin-left: 70%;
	}

	60%,
	79.9% {
		margin-top: 30%;
		margin-left: 20%;
	}

	80%,
	99.9% {
		margin-top: 30%;
		margin-left: 80%;
	}
}

@-ms-keyframes position {

	0%,
	19.9% {
		margin-top: 10%;
		margin-left: 40%;
	}

	20%,
	39.9% {
		margin-top: 40%;
		margin-left: 30%;
	}

	40%,
	59.9% {
		margin-top: 20%;
		margin-left: 70%;
	}

	60%,
	79.9% {
		margin-top: 30%;
		margin-left: 20%;
	}

	80%,
	99.9% {
		margin-top: 30%;
		margin-left: 80%;
	}
}

@keyframes position {

	0%,
	19.9% {
		margin-top: 10%;
		margin-left: 40%;
	}

	20%,
	39.9% {
		margin-top: 40%;
		margin-left: 30%;
	}

	40%,
	59.9% {
		margin-top: 20%;
		margin-left: 70%;
	}

	60%,
	79.9% {
		margin-top: 30%;
		margin-left: 20%;
	}

	80%,
	99.9% {
		margin-top: 30%;
		margin-left: 80%;
	}
}